// ------------------------------
// media query
// ------------------------------


$breakpoints: (
  "sp1": "screen and (min-width: 480px)",
  "sp2": "screen and (min-width: 600px)",
  "tb": "screen and (min-width: 768px)",
  "no": "screen and (min-width: 960px)",
  "pc": "screen and (min-width: 1180px)",
  "ovr": "screen and (min-width: 1400px)",
) !default;

@mixin mq($breakpoint: no) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ------------------------------
// flex_4カラムまで対応_mixin
// ------------------------------

@mixin flex_col($col: 4, $space: 24px) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  > * {
    width: calc((100% - #{$space}) / #{$col});
  }
  @if $col == 4 {
    &::before,
    &::after {
      content: "";
      height: 0;
      display: block;
      width: calc((100% - #{$space}) / #{$col});
    }
    &::before {
      order: 1;
    }
  } @else if $col == 3 {
    &::after {
      content: "";
      height: 0;
      display: block;
      width: calc((100% - #{$space}) / #{$col});
    }
  } @else {
    &::before,
    &::after {
      display: none;
    }
  }
}