
html {
  font-size: 62.5%;
  height: 100%;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}

svg {
  backface-visibility: hidden;
  transform: translateZ(0);
}

@font-face {
  font-family: 'mb31'; // <-好きな名前をつけれます。
  src: url('../font/mb31.woff') format("woff");
}

body {
  font-size: 1.6em;
  line-height: 1.8;
  font-family: 'mb31','游ゴシック体', 'Yu Gothic', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Osaka', 'ＭＳ Ｐゴシック', sans-serif;
  font-weight: 500;
  color: #222;
  height: 100%;
  background: #fff;
  letter-spacing: .1em;
}

#wrapper{
  position: relative;
  height: 100%;
  &.flex{
    @include mq(no){
      display: flex;
      justify-content: space-between;
      align-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
}

main{
  @include mq(no){
    flex: 1;
    position: relative;
    height: 100%;
    width: calc(100% - 270px);
  }
  #conts{
    padding: 6.4rem 5.5vw;
    @include mq(tb){
      padding: 6.4rem 3.2rem;
    }
    @include mq(no){
      padding: 0 0 4.8rem;
      width: calc(100% - 10vw);
      margin: 50px auto 50px;
      max-width: 1380px;
    }
  }
}

//ロード時
.expandFade-enter{
  opacity: 0;
  transform: translateY(20px);
}
.expandFade-enter-active{
  transition: opacity .5s,transform .5s;
} 

//遷移時
.expandFade-leave-active { 
  transition: opacity .5s,transform .5s;
}
.expandFade-leave-active {
  transform: translateY(-20px);
  opacity: 0; 
}

[v-cloak] {
  display: none;
}


// ---------------------
// lazyload_animtion
// ---------------------


.lazyLoad{
    opacity: 0;
  &.ld,&.ld-cpt{
    opacity: 1;
    transition: opacity 0.3s;
  }
}