extends ../../layout/_TOP.pug
block contents
  .cv.mainconts
    .inner
      .heading 
        h1 cv 
      .conts
        .block.autor 
          h2.title maeda maki | 前田 真喜
          p.explain Born in Nara Prefecture in 1989, graduated from Bukkyo University Humanities Department in 2016 over 8 years. Currently, he is active based on 9.5 tatami mat rental. By carefully scooping up the emotions and feelings hidden in casual places through the work, he misunderstands that "only this person understands me" and rolls up money. Since he does not choose any means at that time, he has the nickname "Vulture of Kyoto". I always try to make the motif close to the target that seems to be easily deceived, but I can not completely complete it and accidentally blur my outline is captured in the work. I'm fooled while doing so. Recently, I have registered 6 subscription services.
          p.explain 1989年奈良県生まれ、2016年佛教大学人文学科を8年かけて卒業。現在、9.5畳の賃貸を拠点に脳内で活動。作品を通して何気ないところに潜む情念や感情を丁寧に掬いとることで、「この人だけがわたしのことをわかってくれる」と勘違いさせ、金を巻き上げる。その際の手段はいっさい選ばないことから、「京都のハゲタカ」という異名を持つ。騙されやすそうなターゲットにすり寄ったモチーフで作品を作ろうとするが、徹しきれず偶発的にぼやけた自分の輪郭が作品にキャプチャされてしまう。そうしてる間に今度は騙される。最近は6つもサブスクリプションサービスに登録している。
        .block.list 
          h2.title 過去の個展
          ul
            li 2021.12.32 おまえがまえだ！　～それがなんぼのもんじゃい～,京都
            li 2020.12.32 おまえがまえだ！　～それがなんぼのもんじゃい～,京都
            li 2019.12.32 令和突入　～それがなんぼのもんじゃい～,ぶるっくりん
            li 2018.12.32 おまえがまえだ！　～それがなんぼのもんじゃい～,京都　
            li 2017.12.32 おまえがまえだ！　～それがなんぼのもんじゃいもんじゃい～,京都
            li 2016.12.32 おまえがまえだ！　～それがなんぼのもんじゃい～,京都
            li 2015.12.32 おまえがまえだ！　～それがなんぼのもんじゃい～,京都
            li 2014.12.32 おまえがまえだ！　～それがなんぼのもんじゃいもんじゃ展～,京都
            li 2013.12.32 おまえがまえだ！　～それがなんぼのもんじゃい～,京都
            li 2012.12.32 おまえがまえだ！　～それがなんぼのもんじゃい～,京都
            li 2011.12.32 おまえがまえだ！　～それがなんぼのもんじゃい～,京都
            li 2010.12.32 おまえがまえだ！　～それがなんぼのもんじゃい～,京都
            li 2009.12.32 おまえがまえだ！　～それがなんぼのもんじゃい～,京都
            li 2008.12.32 おまえがまえだ！　～それがなんぼのもんじゃい～,京都
            li 2007.12.32 おまえがまえだ！　～それがなんぼのもんじゃい～,京都

  