extends ../../layout/_TOP.pug
block contents
  .cv.mainconts
    .inner
      .heading 
        h1 cv 
      .conts
        .block.autor 
          h2.title maeda maki | 前田 真喜
          p.explain {{history.profile}}
        .block.list( v-for="(data , index) in history.cv" :key="data.index" )
          h2.title {{data.title}}
          dl
            div(v-for="(act,index) in data.yearlist" :key="act.index")
              dt {{act.year}}
              dd {{act.detail}}
                template(v-if="act.locate")
                  span （{{act.locate}}）

  