extends ../layout/_TOP.pug

block contents
  #mainconts 
    magic-grid 
      card(
        v-for="(card, index) in cardsData",
        :key="index",
        :image="card.image",
        :title="card.title",
        :body="card.body"
      )