@use "../../foundation";
@use "../../layout/_index";
@use "../../global" as g;

.cv{
  .inner{
    display: flex;
  }
  h1{
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: .08em;
  }
  .heading{
    width: 10%;
    min-width: 100px;
  }
  .conts{
    width: 90%;
    font-size: 1.2rem;
    line-height: 2.5rem;
    margin-bottom: 2.4rem;
  }
  .conts{
    .block{
      & + .block{
        margin-top: 4rem;
      }
      p + p{
        margin-top: 1.6rem;
      }
    }
    .title{
      font-weight: bold;
      margin-bottom:1em;
    }
    .list{
      li + li{
        margin-top: 0.2em;
      }
    }
  } 
}