header 
  .inner 
    h1: a(href="/") だれだおまえだ！
    nav.pc 
      ul
        li: a(href="#") infomation
        li: a(href="#") works
        li: a(href="/pagecv/") cv
      .act 
        a(href="#") contact
  