@use "../../foundation";
@use "../../layout/_index";
@use "../../global" as g;

.inner{
  display: flex;
}

.contact{
  margin-bottom: 60px;
}

.heading{
  width: 12%;
  min-width: 120px;
}

h1{
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: .08em;
}

.explain{
  width: 88%;
  font-size: 1.2rem;
  display: flex;
  .email{
    width: 40%;
    margin-bottom: 4rem;
    h2{
      margin-bottom: 1.6rem;
    }
    .link{
      a{
        display: inline-block;
        margin-bottom: 2.4rem;
        text-decoration: underline;
      }
    }
  }
  .formbox{
    width: 60%;
    .area{
      & > *:not(:last-of-type) input{
        border-bottom: none;
      }
      input,textarea{
        width: 100%;
        padding: 12px 14px;
        border: 1px solid #d1d1d1;
        resize: none;
      }
    }
    .confirmbtn{
      margin: 12px 0 0 0;
      width: 160px;
      text-align: center;
      input{
        width: 100%;
        padding: 8px;
        border-radius: 2px;
        color: #454545;
        letter-spacing: .08em;
        font-size: 1.2rem;
        font-weight: bold;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
        border: 1px solid #d1d1d1;
      }
    }
  }
}
