extends ../../layout/_TOP.pug
block contents 
  .contact.mainconts  
    .inner  
      .heading  
        h1 contact
      .explain 
        .email
          h2 Email:
          .link
            a( href="mailto:maeda.m1217@gmail.com " data-link-type="mailto" data-link-value="maeda.m1217@gmail.com ") maeda.m1217@gmail.com </a>
            p or send me a message.
        .formbox  
          form() 
            .name 
              label(for="") 
              input( id="name" type="text" placeholder="Name")