- const img_path = '/assets/img/'
- const css_path = '/assets/css/'
- const js_path = '/assets/js/'
- const domain = 'https://fpnavi.net'
- const bread  = {"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[]};
- const tel = "0120-880-081"
- const tel_atag = "tel:0120-880-081"