doctype html

include ../include/_config.pug
block vars

html(lang="ja")
  include ../include/pre/_head.pug
    block head
  body
    include ../include/pre/_tagmanager.pug
    if meta.redirect
      include ../include/pre/_redirect.pug
    else
      #wrapper(v-cloak)
        include ../include/global/_header.pug
        main
          block contents
        include ../include/global/_footer.pug
      block js_front
      if meta.js.length > 0
        each item in meta.js
          script(src=item)
      if meta.imgObj
        script(src="/assets/js/common/_ofi.min.js")
        script(src="/assets/js/common/_exrofi.js")